<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<title>Layout</title>
</head>
<body>
	<header>
		<div class="logo">LAYOUT</div>
	</header>
	<nav class="nav-horizontal">
		<ul>
			<li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
			<li><a class="active" href="stock.html"><i class="fa fa-socks"></i>Stock</a></li>
			<li><a href="contact.html"><i class="fa fa-envelope"></i>Contact</a></li>
		</ul>
	</nav>
	<section class="front-articles">
		<h1>Stock</h1>
		<table class="tables">
			<tr>
				<th>ISBN</th>
				<th>Título</th>
				<th>Autor</th>
			</tr>
			<tr>
				<td>564687645</td>
				<td>Memorias de Idhun</td>
				<td>Laura Gallego</td>
			</tr>
			<tr>
				<td>564687645</td>
				<td>Memorias de Idhun</td>
				<td>Laura Gallego</td>
			</tr>
			<tr>
				<td>564687645</td>
				<td>Memorias de Idhun</td>
				<td>Laura Gallego</td>
			</tr>
			<tr>
				<td>564687645</td>
				<td>Memorias de Idhun</td>
				<td>Laura Gallego</td>
			</tr>
		</table>
	</section>
		<aside>
			<h1>Síguenos en Twitter</h1>
			<a class="twitter-timeline" data-lang="es" data-height="500" data-theme="dark" href="https://twitter.com/Traknous?ref_src=twsrc%5Etfw">Tweets by Traknous</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</aside>
	<div class="clearfix"></div>
	<footer>

	</footer>
</body>
</html>